// Custom.scss
@charset "utf-8"

{{ $extraColors := site.Params.colors.extra }}
{{ $fontAwesomeVersion := site.Params.font_awesome_version }}
{{ $fonts := site.Params.fonts }}

{{ with $fontAwesomeVersion }}
{{ $fontAwesomeUrl := printf "https://use.fontawesome.com/releases/v%s/css/all.css" . }}
@import url("{{ $fontAwesomeUrl }}")
{{ end }}

{{ if $fonts }}
{{ $fontSlice := (slice) }}
{{ range $fonts }}
{{ $fontSlice = $fontSlice | append (printf "%s:%s" (replace .name " " "+") (delimit .sizes ",")) }}
{{ end }}
{{ $fontsUrl := printf "https://fonts.googleapis.com/css?family=%s" (delimit $fontSlice "|") }}
@import url("{{ $fontsUrl }}")
{{ end }}


// Required
@import "bootstrap/scss/functions" 
@import "bootstrap/scss/variables" 
@import "bootstrap/scss/mixins" 
@import "bootstrap/scss/root" 

//Optional
@import "bootstrap/scss/reboot" 
@import "bootstrap/scss/type" 
@import "bootstrap/scss/images" 
@import "bootstrap/scss/code" 
@import "bootstrap/scss/grid" 
@import "bootstrap/scss/tables" 
@import "bootstrap/scss/forms" 
@import "bootstrap/scss/buttons" 
@import "bootstrap/scss/transitions" 
@import "bootstrap/scss/dropdown" 
//@import "bootstrap/scss/button-group" 
//@import "bootstrap/scss/input-group" 
//@import "bootstrap/scss/custom-forms" 
@import "bootstrap/scss/nav" 
@import "bootstrap/scss/navbar" 
@import "bootstrap/scss/card" 
//@import "bootstrap/scss/breadcrumb" 
//@import "bootstrap/scss/pagination" 
//@import "bootstrap/scss/badge" 
@import "bootstrap/scss/jumbotron" 
//@import "bootstrap/scss/alert" 
//@import "bootstrap/scss/progress" 
@import "bootstrap/scss/media" 
//@import "bootstrap/scss/list-group" 
//@import "bootstrap/scss/close" 
//@import "bootstrap/scss/toasts" 
//@import "bootstrap/scss/modal" 
//@import "bootstrap/scss/tooltip" 
//@import "bootstrap/scss/popover" 
//@import "bootstrap/scss/carousel" 
//@import "bootstrap/scss/spinners" 
@import "bootstrap/scss/utilities" 
//@import "bootstrap/scss/print" 


// Custom


// Variables 

$font-family-headers: "Open Sans" 
$o3de-black: #000
$o3de-white: #fff
$o3de-blue: #1E71EB
$o3de-lightblue: #D2EDFF
$o3de-green: #58BD61

// General 

.breadcrumb 
  li
    list-style: none
    display: inline
  ul
    padding-left: 0

.hashlink 
  font-size: smaller !important

.highlight pre 
  padding: 0.5rem
  border-radius: 5px 

.content 
  table 
    @extend .table
 
  img 
    @extend .img-fluid

h1, h2, h3, h4, h5, h6 
  font-family: $font-family-headers
  scroll-margin-top: 5rem
  margin-top: 1.8rem

nav 
  ul 
    list-style-type: none
    padding-left: 0
    ul
      padding-left: 1.5rem

// layouts/partials/navbar.html 

.main-navbar 
  background-color: $o3de-black
  filter: drop-shadow(0px 2px 2px rgba(0, 0, 0, 0.25))

.navbar-dark .navbar-nav .nav-link
    color: $o3de-white
    &:hover 
      color: $o3de-lightblue

.navbar-logo
  max-height: 36px

// layouts/partials/hero.html

//scales the header proportionally
$width: '59vw';

.scalable 
    width: 100%
    height: calc((#{$width} / 3) * 2); // note the variable is declared inside #${}
    background: black
    filter: drop-shadow(0px 15px 15px rgba(0, 0, 0, 0.9))
    background-image: url('/img/home/hero.jpg')
    background-size: cover
    @include media-breakpoint-down(lg) 
      height: auto 
      background-position: right
    
    
.hero 
  margin-bottom: 0rem
  background-color: transparent
  color: $o3de-white
  .desc
    text-shadow: 8px 8px 8px #000


.learnmore-cta 
  background-color: $o3de-green
  a:active
    background-color: darken($o3de-green, 10%)

.download-cta 
  background-color: $o3de-blue
  a:active 
    background-color: darken($o3de-blue, 10%)


// layouts/partials/home/features.html 

.home-features 
  background-color: $o3de-black 
  background-image: url('/img/home/feature-bg.png')
  background-size: cover
  color: $o3de-white

.feature
  margin-top: 2rem
  margin-bottom: 6rem
  img
    width: 100%
