// Custom.scss
@charset "utf-8"

{{ $extraColors := site.Params.colors.extra }}
{{ $fontAwesomeVersion := site.Params.font_awesome_version }}
{{ $fonts := site.Params.fonts }}

{{ with $fontAwesomeVersion }}
{{ $fontAwesomeUrl := printf "https://use.fontawesome.com/releases/v%s/css/all.css" . }}
@import url("{{ $fontAwesomeUrl }}")
{{ end }}

{{ if $fonts }}
{{ $fontSlice := (slice) }}
{{ range $fonts }}
{{ $fontSlice = $fontSlice | append (printf "%s:%s" (replace .name " " "+") (delimit .sizes ",")) }}
{{ end }}
{{ $fontsUrl := printf "https://fonts.googleapis.com/css?family=%s" (delimit $fontSlice "|") }}
@import url("{{ $fontsUrl }}")
{{ end }}


// Required
@import "bootstrap/scss/functions" 
@import "bootstrap/scss/variables" 
@import "bootstrap/scss/mixins" 
@import "bootstrap/scss/root" 

//Optional
@import "bootstrap/scss/reboot" 
@import "bootstrap/scss/type" 
@import "bootstrap/scss/images" 
@import "bootstrap/scss/code" 
@import "bootstrap/scss/grid" 
@import "bootstrap/scss/tables" 
@import "bootstrap/scss/forms" 
@import "bootstrap/scss/buttons" 
@import "bootstrap/scss/transitions" 
@import "bootstrap/scss/dropdown" 
//@import "bootstrap/scss/button-group" 
//@import "bootstrap/scss/input-group" 
//@import "bootstrap/scss/custom-forms" 
@import "bootstrap/scss/nav" 
@import "bootstrap/scss/navbar" 
@import "bootstrap/scss/card" 
//@import "bootstrap/scss/breadcrumb" 
//@import "bootstrap/scss/pagination" 
//@import "bootstrap/scss/badge" 
@import "bootstrap/scss/jumbotron" 
//@import "bootstrap/scss/alert" 
//@import "bootstrap/scss/progress" 
@import "bootstrap/scss/media" 
//@import "bootstrap/scss/list-group" 
//@import "bootstrap/scss/close" 
//@import "bootstrap/scss/toasts" 
//@import "bootstrap/scss/modal" 
//@import "bootstrap/scss/tooltip" 
//@import "bootstrap/scss/popover" 
//@import "bootstrap/scss/carousel" 
//@import "bootstrap/scss/spinners" 
@import "bootstrap/scss/utilities" 
//@import "bootstrap/scss/print" 


// Custom


// Variables 

$font-family-headers: "Open Sans" 
$o3de-black: #000
$o3de-white: #fff
$o3de-lightgray: #ddd
$o3de-blue: #1E252F
$o3de-darkblue: #011C46
$o3de-mediumblue: #054CBA
$o3de-lightblue: #D2EDFF
$o3de-green: #58BD61

// General 

body
  font-family: $font-family-headers

.breadcrumb 
  li
    list-style: none
    display: inline
  ul
    padding-left: 0

.hashlink 
  font-size: 50% !important
  opacity: 20%
  &:hover 
    opacity: 100%

.highlight pre 
  padding: 0.5rem
  border-radius: 5px 

.content 
  table 
    @extend .table
    @extend .border
 
  img 
    @extend .img-fluid

h1, h2, h3, h4, h5, h6 
  font-family: $font-family-headers
  scroll-margin-top: 5rem
  margin-top: 1.8rem

a 
  color: $o3de-blue
  &:hover, &:active 
    color: $o3de-mediumblue
    text-decoration: none

.btn-xl-block
  @include media-breakpoint-up(xl)
    width: 100%
    display: block

.btn-lg-block
  @include media-breakpoint-up(lg)
    width: 100%
    display: block

.btn-md-block
  @include media-breakpoint-up(md)
    width: 100%
    display: block

.btn-sm-block
  @include media-breakpoint-up(sm)
    width: 100%
    display: block

.btn-xs-block
  @include media-breakpoint-up(xs)
    width: 100%
    display: block

  // give code some base styling 
pre
  padding: 0.5rem
  border-radius: 5px
  background-color: #2f1e2e
  color: #e7e9db
  code //account for the fact that sometimes you see <pre><code>...
    background-color: #2f1e2e

code 
  padding: 0.1rem
  border-radius: 5px
  background-color: #ebebeb

// hover state for cards

.card
  border: 2px solid  $o3de-lightgray
  box-shadow: 0 2px 4px rgba(0,0,0,.1);
  transition: all .3s ease;
  &:hover
    border: 2px solid  $o3de-blue

// layouts/partials/navbar.html 

.main-navbar 
  background-color: $o3de-black
  filter: drop-shadow(0px 2px 2px rgba(0, 0, 0, 0.25))

.navbar-dark .navbar-nav .nav-link
    color: $o3de-white
    &:hover 
      color: #94D2FF; 

.navbar-dark .navbar-nav li.active
    &:hover 
      .nav-link.active
        color: #94D2FF;
      div
        background-color: #94D2FF;    
        padding: 2px;
        margin-left: 8px;
        margin-right: 8px;

.navbar-dark .navbar-nav .nav-link.active
    color: #1E70EB;

.navbar-dark .navbar-nav li.active div
    background-color: #1E70EB;    
    padding: 2px;
    margin-left: 8px;
    margin-right: 8px;

.navbar-logo
  max-height: 36px
  color: #FFFFFF

// layouts/partials/hero.html, layouts/partial/download/hero.html

//scales the header proportionally
$width: '59vw';

.scalable 
    width: 100%
    height: calc((#{$width} / 3) * 2); // note the variable is declared inside #${}
    background: black
    @include media-breakpoint-down(lg) 
      height: auto 
      background-position: right

.home-hero 
  background-image: url('/img/home/hero.jpg')
  background-size: cover
  height: 600px
  width: 100%
    
.hero-inner 
  margin-bottom: 0rem
  background-color: transparent
  color: $o3de-white
  margin-right: 24px
  margin-left: 124px
  .desc
    text-shadow: 8px 8px 8px #000

.learnmore-cta 
  background-color: $o3de-green
  &:hover
    background-color: darken(#58BD61, 10%)

.download-cta 
  background-color: $o3de-blue
  width: 150px
  height: 36px
  padding: 0
  &:hover 
    background-color: darken(#1E71EB, 10%)


// layouts/partial/download/hero.html

.download-hero 
  background-image: url('/img/download/hero-bg.png')
  background-size: cover
  background-position: 50% 50%
  max-height: 20rem

.getting-started
  background: #111

  a
    color: #83BAE1

  .card
    padding: 1.5rem
    display: block

    p
      color: $o3de-black
      font-size: .9rem
      line-height: 1.1rem

    h4
      margin: 0
      color: $o3de-black
      min-height: 5.5rem
      padding-bottom: 1rem
      @include media-breakpoint-down(lg)
        font-size: 1.25rem
      @include media-breakpoint-down(md)
        min-height: 4rem

.learn-more
  display: block
  font-weight: 600
  color: $o3de-blue

.active-os-cta
  background-color: $o3de-blue
  &:hover 
    background-color: darken(#1E71EB, 10%)

// layouts/partials/home/features.html 

.home-features 
  background-color: #111111
  color: $o3de-white
  margin-top: -34px
  padding-top: 72px
  padding-bottom: 72px

.features-img
  width: 100%
  margin-left: -15px

.features-text
  padding-right: 280px
  padding-left: 52px

.features-img-reverse
  width: 100%
  margin-left: 15px

.features-text-reverse
  padding-left: 280px
  padding-right: 52px

.feature
  margin-top: 2rem
  margin-bottom: 6rem
  img
    width: 100%

.features-mid-content
  padding-top: 32px
  padding-bottom: 32px



// layouts/partials/home/partners.html 

.home-partners
  background-color: #EEEEEE
  padding-top: 72px
  padding-bottom: 72px

.partners-logos-view
  width: 80%
  margin-top: 40px

.accelByte-logo
  background-color: white
  padding: 35px 75px 35px 75px
  margin: 12px

.adobe-logo
  background-color: white
  padding: 35px 75px 35px 75px
  margin: 9px

.aocalypseStudios-logo
  background-color: white
  padding: 35px 75px 35px 75px
  margin: 9px

.audiokinetic-logo
  background-color: white
  padding: 40px 95px 40px 95px;
  margin: 9px

.aws-logo
  background-color: white
  padding: 35px 65px 35px 65px;
  margin: 9px

.backtrace-logo
  background-color: white
  padding: 30px 50px 30px 50px;
  margin: 9px

.carbonated-logo
  background-color: white
  padding: 25px 50px 25px 50px;
  margin: 9px

  
// layouts/partials/home/get-started.html 

.home-getstarted
  width: 70%
  padding-top: 72px
  padding-bottom: 72px

.getting-started-view
  height: 180px
  margin-top: 40px

.getStarted-img
  height: 100%
  margin-left: -14px

.getstarted-text-width
  padding-right: 50px
  margin-bottom: 10px

  
// layouts/partials/home/download.html 

.home-download  
  background-image: url('/img/home/download-bg.jpg')
  background-size: cover;
  background-repeat: no-repeat
  color: $o3de-white
  margin-bottom: -48px;
  padding-top: 72px
  padding-bottom: 72px

.download-btn 
  background-color: $o3de-blue
  width: 240px
  height: 36px
  &:hover 
    background-color: darken(#1E71EB, 10%)


// layouts/footer.html 

.footer 
  background-image: url(/img/home/footer-bg.png)
  background-size: cover
  background-color: $o3de-darkblue
  .a 
    &:hover, &:active 
      color: $o3de-blue
      text-decoration: none

// layouts/social-buttons.html 

.social 
  font-size: 2rem
  padding: 0.5rem


// layouts/download/section.html 

// layouts/community/section.html 

.community-hero 
  background-color: $o3de-darkblue
  background-image: url('/images/community/community_hero_background.png')
  background-size: cover
  background-position: 50% 50%
  color: $o3de-white

  p
    font-size: 1.5rem
    font-weight: 200
    max-width: 720px
    margin: 0 auto

.community-join
  background-color: $o3de-white  
  color: $o3de-black

  .social-container
    max-width: 640px

  .icon 
    font-size: 4rem
  .social-name 
    font-size: 1rem
    vertical-align: text-top

  .fa-github
    color: #231E1B
  .fa-discord
    color: #7289DA
  .fa-calendar-day
    color: #2A4875
  .fa-twitter
    color: #2AA9E0
  a
    color: #1E70EB

.community-blog
  background: #111

  a.card
    color: $o3de-black
    min-height: 10rem
    overflow: hidden

    .card-body
      padding: 1.6rem 1rem 0 0.2rem

  .card-image
    background-color: #C4C4C4
    background-size: cover
    background-position: 50% 50%
    padding-bottom: 10rem

// Docs pages 

  // Welcome page

.doc_card
  min-height: 18rem
  color: $o3de-black
  overflow: hidden

  &:hover
    color: $o3de-black

  &.intro
    min-height: 11rem

  .card-title
    margin-top: 0

  .card-image
    position: absolute;
    left: 0
    top: 0
    bottom: 0
    width: 100%
  
.card-image
  background-size: cover
  background-position: 50% 50%

// layouts/docs/single.html, layouts/docs/section.html 

.docs-sidebar 
  background-color: rgba(30, 112, 235, 0.03)  

  .fa-chevron-right
    display: none

  .fa-chevron-down
    display: none
  
  .section-nav-subsection
    padding-top: 5px

  .section-nav
    padding-top: 16px

  @include media-breakpoint-up(xl)
    position: sticky
    top: 4rem
    z-index: 1000
    height: calc(100vh - 4rem)
    flex: 0 1 320px
    order: 0
    box-sizing: border-box
    flex-wrap: wrap
    overflow: auto
  
  .card-body
    padding: 10px 0 10px 10px

  .card-header
    background: transparent
    border: 0 none
    padding: 0 1rem

    &show
      color: $o3de-blue

    .btn-link
      color: $o3de-black

      &:focus
        text-decoration: none
        box-shadow: none
        
      &:hover
        text-decoration: none
        box-shadow: none

  .menu-body
    padding-left: 20px

  .section-nav-link
    padding: 0 8px
    color: $o3de-black
    font-weight: normal

  .currentPage
    background-color: rgba(221, 221, 221, 0.3)
    color: $o3de-blue
  
  .card
    background: transparent
    border: 0 none
    box-shadow: none

// layouts/section-nav.html 

nav 
  ul 
    list-style: none
    padding-left: 0
    margin-bottom: 0rem
    font-size: 1rem
    li 
      padding-bottom: 0.2rem
      margin-bottom: 0.3rem
      font-weight: bold
      ul
        padding-bottom: 0rem
        margin-left: 1rem
        font-size: 0.9rem
        li 
          border-bottom: none
          margin-bottom: 0rem
          font-weight: normal

.currentPage
  font-weight: bold
  background-color: $o3de-lightblue
  padding: 0.1rem
  border-radius: 5px
  
#docs-nav-title
  background-color: transparent
  padding: 0rem
  h1
    font-size: 1.2rem
    margin-top: 0
    margin-bottom: 0

