<section class="container pt-lg-5">
  <div class="row">
    <div class="col-12 col-lg-5 pr-lg-5">
      <h3>Get O3DE for Linux</h3>
      <div class="download_release">O3DE Stable 21.11 Release</div>
      <p class="download_notes">Read the <a href="https://o3de.org/docs/release-notes/archive/2107-1-release-notes/">Release Notes</a> to learn more about O3DE Stable 21.11 Release.</p>
      <p id="download-page-button-windows" class="mr-5">
        <a href="#" class="btn-xl-block btn-lg btn-primary text-white text-center" target="_blank">Download Debian Package</a>
      </p>
      <div class="github-box mr-5">
        <h3><i class="fab fa-github"></i>Customize your Engine</h3>
        <p>Looking to dive deep into O3DE? Get the engine sources, build O3DE, and start working with the code now.</p>
        <p id="github-page-button-windows">
          <a href="#" class="btn-xl-block btn-lg btn-green text-white text-center" target="_blank">Fork from GitHub</a>
        </p>
      </div>
    </div>
    <div class="col-12 col-lg-7">
      <h5>Minimum System Requirements</h5>
      <p>O3DE requires Windows 10 64-bit (versions 1809, 10.0.17763 or later)</p>
      <ul>
        <li>2.5 GHz quad-core Intel or AMD processor</li>
        <li>8 GB RAM</li>
        <li>2 GB VRAM DirectX 12 or Vulkan; 4 GB VRAM recommended</li>
        <ul>
          <li>NVIDIA GeForce GTX 1060 with driver version 465.89 or later</li>
          <li>AMD Radeon Pro 560 or higher with latest drivers</li>
          <li>Intel HD 630 or higher with latest drivers</li>
        </ul>
        <li>60 GB of free disk space</li>
        <li>Visual Studio 2019</li>
      </ul>
      <h5>Instructions</h5>
      <p>Choose the "Download O3DE" button, and read the documentation and follow the instructions in it.</p>
    </div>
  </div>
</section>