<section class="container pt-lg-5">
  <div class="row">
    <div class="col-12 col-lg-5 pr-lg-5">
      <h3>Get O3DE for Windows</h3>
      <div class="download_release">O3DE 23.10.0 Release</div>
      <p class="download_notes">Read the <a href="https://o3de.org/docs/release-notes/">Release Notes</a> to learn more about O3DE 23.10.0 Release.</p>
      <p id="download-page-button-windows" class="mr-5">
        <a href="https://o3debinaries.org/download/windows.html" class="btn-xl-block btn-lg btn-primary text-white text-center" target="_blank">Download Installer</a>
      </p>
      <div class="github-box mr-5">
        <h3><i class="fab fa-github"></i>Customize your Engine</h3>
        <p>Looking to dive deep into O3DE? Get the engine sources, build O3DE, and start working with the code now.</p>
        <p id="github-page-button-windows">
          <a href="https://github.com/o3de/o3de/" class="btn-xl-block btn-lg btn-green text-white text-center" target="_blank">Fork from GitHub</a>
        </p>
      </div>
    </div>
    <div class="col-12 col-lg-7">
      <h5>Minimum System Requirements</h5>
      <p>O3DE requires Windows 10 64-bit (versions 1809, 10.0.17763 or later)</p>
      <ul>
        <li>2.5 GHz Intel or AMD processor with 4 or more physical cores</li>
        <li>8 GB RAM</li>
        <li>DirectX 12, Vulkan-compatible, or Metal-compatible video card with 2 GB VRAM minimum</li>
        <ul>
          <li>NVIDIA GeForce GTX 1060 with driver version 471.11 or later</li>
          <li>AMD Radeon Pro 560 or higher with latest drivers</li>
          <li>Intel HD 630 or higher with latest drivers</li>
          <li>Shader Model 6.2 (or Shader Model 6.3 to use raytracing features)</li>
          <li>4 GB VRAM recommended</li>
        </ul>
        <li>40 to 100 GB of free disk space</li>
        <li>1366 x 768 px screen resolution</li>
      </ul>
      <p> For more detailed requirements, read <a href="https://o3de.org/docs/welcome-guide/requirements/">O3DE System Requirements</a>.</p>
      <h5>Instructions</h5>
      <p>Choose the "Download O3DE" button, <a href="https://o3de.org/docs/welcome-guide/setup/installing-windows/">read the documentation</a>, and follow the instructions in it.</p>
    </div>
  </div>
</section>
