<h3>Get O3DE [Developer Preview]</h3>
<div class="download_release">Release 2107.1</div>

<p class="mr-lg-5">Read the <a href="https://o3de.org/docs/release-notes/archive/2107-1-release-notes/">Release Notes</a> to learn more about O3DE [Developer Preview] Release 2107.01.</p>
<p class="mr-lg-5">Fork the O3DE source and build the engine and tools directly from any branch. For more details, read the documentation.</p>

<p id="download-page-buttons" class="mr-5">
  <a href="https://github.com/o3de/o3de" class="btn-xl-block btn-lg btn-primary text-white text-center" target="_blank">Fork O3DE from GitHub</a>
</p>