<!-- displays 3 blog posts and links to blogs, for homepage & community page -->

<div class="getting-started d-flex align-items-center text-light mt-5">
  <div class="container pt-4">
    <h2>Getting Started</h2>
    <p>Things getting tricky? Check out the community posts and documentation below, or ask a question in <a href="https://github.com/o3de/o3de/discussions" target="_blank">our forums.</a></p>
    <div class="row pt-4 pb-4 mb-4">
      <div class="col col-12 col-md-6 col-lg-3">
        <a href="https://o3de.org/docs/welcome-guide/requirements/">
          <div class="card mb-3">
            <h4>Prerequisites</h4>
            <p>Read up on the hardware and platform requirements to build and run O3DE.</p>
            <div class="learn-more">Learn more</div>
          </div>
        </a>
      </div>
      <div class="col col-12 col-md-6 col-lg-3">
        <a href="https://o3de.org/docs/welcome-guide/setup/setup-from-github/">
          <div class="card mb-3">
            <h4>Setting up O3DE from GitHub</h4>
            <p>For the Developer Preview, follow these instructions closely. Save yourself a few early adopter headaches!</p>
            <div class="learn-more">Learn more</div>
          </div>
        </a>
      </div>
      <div class="col col-12 col-md-6 col-lg-3">
        <a href="https://o3de.org/docs/welcome-guide/setup/installing-linux/">
          <div class="card mb-3">
            <h4>Install O3DE for Linux (Preview)</h4>
            <p>Learn how to install the O3DE Debian package for Linux (Ubuntu).</p>
            <div class="learn-more">Learn more</div>
          </div>
        </a>
      </div>
      <div class="col col-12 col-md-6 col-lg-3">
        <a href="https://o3de.org/docs/welcome-guide/setup/troubleshooting/">
          <div class="card mb-3">
            <h4>Troubleshooting the Setup</h4>
            <p>Rarely do things go perfectly. Check out our initial troubleshooting advice, or contribute your own tips!</p>
            <div class="learn-more">Learn more</div>
          </div>
        </a>
      </div>
    </div>
  </div> 
</div> 