{{ $title := site.Title }}
{{ $desc  := site.Params.description | markdownify }}
<div class="scalable download-hero d-flex align-items-center">
  <div class="container text-light">
    <div class="row pt-5 pb-5">
      <div class="col col-12 text-center pb-3">
        <h1 class="title">
          Preview Open 3D Engine
        </h1>
        <h4 class="pb-1">
          This Developer Preview enables you to start creating today
        </h4>
        <h5 class="pb-1">
          The full O3DE release will be available in late 2021.
        </h5>
      </div>
    </div>
    <div class="row justify-content-between">
      <div class="col col-4 download-os active">
        <a class="btn-block btn-lg text-center download-page-windows download-os-button">
          Windows
        </a>
        <div></div>
      </div>
      <div class="col col-4 download-os">
        <a class="btn-block btn-lg text-center download-page-macos download-os-button">
          macOS
        </a>
        <div></div>
      </div>
      <div class="col col-4 download-os">
        <a class="btn-block btn-lg text-center download-page-linux download-os-button">
          Linux
        </a>
        <div></div>
      </div>
    </div>
  </div>
</div>