{{ $title := site.Title }}
{{ $desc  := site.Params.description | markdownify }}
<div class="scalable download-hero d-flex align-items-center">
  <div class="container hero-inner">
    <div class="row">
      <div class="col col-12 text-center">
        <h1 class="title">
          Download Open 3D Engine
        </h1>
        <p class="desc">
          Download the latest stable version of O3DE for your operating system. 
        </p>
        <p id="download-page-buttons">
          <a href="#" class="my-3 mr-3 btn btn-lg btn-secondary text-white" data-os="Windows">Windows</a>
          <a href="#" class="my-3 mr-3 btn btn-lg btn-secondary text-white" data-os="Mac OS">OSX</a>
          <a href="#" class="my-3 mr-3 btn btn-lg btn-secondary text-white" data-os="Linux">Linux</a>
        </p>
      </div>
    </div>
  </div>
</div>