{{ $lang := site.LanguageCode }}
<!DOCTYPE html>
<html{{ with $lang }} lang="{{ . }}"{{ end }}>
  <head>
    <title>
      {{ block "title" . }}
        {{if .IsHome -}}
          {{ site.Title }}
        {{- else -}}
          {{ .Title }} - {{ site.Title }}
        {{- end }}
      {{ end }}
    </title>
    {{ partial "css.html" . }}
    {{ partial "favicon.html" . }}
    {{ partial "meta-tags.html" . }}
  </head>
  {{ partial "javascript.html" }}
    <body class="{{if .IsHome -}}home-page{{- end }}">
      {{ partial "navbar.html" . }}
    <main id="primary">
      {{ if eq  .Type "search" }}
        {{ partial "search-results.html" . }}
      {{ else }}
        {{ block "main" . }}
        {{ end }}
      {{ end}}
    </main>
  </body>
</html>
