<ul class="mr-auto navbar-nav">
    <li class="
        navbar-start 
        navbar-item
    ">
        <a href="/docs/user-guide/" class="
            nav-link 
            navbar-item
        ">
            USER GUIDE
        </a>
        <div></div>
    </li>
    <li class="
        navbar-start 
        navbar-item
    ">
        <a href="/docs/welcome-guide/" class="
            nav-link 
            navbar-item
        ">
            TUTORIALS
        </a>
        <div></div>
    </li>
    <li class="
        navbar-start 
        navbar-item
    ">
        <a href="/docs/tools-ui/" class="
            nav-link 
            navbar-item
        ">
            UI DEVELOPMENT LIBRARY
        </a>
        <div></div>
    </li>
    <li class="
        navbar-start 
        navbar-item
    ">
        <a href="/docs/atom-guide/" class="
            nav-link 
            navbar-item
        ">
            ATOM RENDERER
        </a>
        <div></div>
    </li>
    <li class="
        navbar-start 
        navbar-item
    ">
        <a href="/docs/api/" class="
            nav-link 
            navbar-item
        ">
            API REFERENCE
        </a>
        <div></div>
    </li>
</ul>
