{{ $home   := site.BaseURL }}
{{ $here   := .RelPermalink }}
{{ $allSections  := site.Sections }} <!-- "blog" and "docs" -->
{{ $docsSections := where $allSections "Section" "docs" }}

<ul class="mr-auto navbar-nav">
  {{ range $docsSections }}
    {{ range .Sections }}
      {{ $isHere := in $here .RelPermalink }}
      {{ $isPrimary := .Param "primary" }}
      {{ if $isPrimary }}
      <li class="
        navbar-start 
        navbar-item
        {{ if $isHere }} active{{ end }}">
        <a href="{{ .RelPermalink }}"
        class="
          nav-link 
          navbar-item
          {{ if $isHere }} active{{ end }}">
          {{ .Page.Params.MenuTitle }}
        </a>
        <div></div>
      </li>
      {{ end }}
    {{ end }}
  {{ end }}
</ul>
