{{ $social := site.Params.social }}
{{ $home   := "https://o3de.org/" }}
{{ $title  := site.Title }}
{{ $logo   := site.Params.logos.docs_footer }}

<footer class="">
  <div>
    <div class="navbar-brand">
      <a class="navbar-item" href="{{ $home }}">
        {{ if $logo }}
        {{ $url := printf "img/logos/%s" $logo | relURL }}
          <img src="{{ $url }}" class="navbar-logo">
        {{ else }}
        {{ $title }}
        {{ end }}
      </a>
    </div>
  </div>
  <div>
    {{ partial "footer-content.html" . }}
  </div>
</footer>
