{{ $year := now.Year }}
{{ with site.Copyright }}
<p>Copyright &copy; {{ $year }} Open 3D Engine Contributors</p>
<p>
    Documentation Distributed under  <a href= "#">CC BY 4.0</a>. 
    <br>
    For our trademark, privacy and antitrust policies, code of conduct, and terms of use,
    please click the applicable link below or see <a href= "https://www.lfprojects.org">https://www.lfprojects.org</a>.
</p>
<div class="footer-links">
    <a href="https://lfprojects.org/policies/trademark-policy">Trademark Policy</a>
    <a href="https://lfprojects.org/policies/privacy-policy/">Privacy Policy</a>
    <a href="https://lfprojects.org/policies/antitrust-policy/">Antitrust Policy</a>
    <a href="https://lfprojects.org/policies/code-of-conduct/">Code of Conduct</a>
    <a href="https://lfprojects.org/policies/terms-of-use/">Terms of Use</a>
</div>
<br>
<p>The Linux Foundation has registered trademarks and uses trademarks. For a list of trademarks of The Linux Foundation, 
    please see our <a href="https://www.linuxfoundation.org/trademark-usage/">Trademark Policy</a> page.</p>
{{ end }}