{{ $home   := site.BaseURL }}
{{ $here   := .RelPermalink }}
{{ $main   := site.Menus.main }}

<ul class="mr-auto navbar-nav">
{{ with $main }}
  {{ range . }}
    {{ $isHere := eq .URL $here }}
    <li class="
      navbar-start 
      navbar-item
      {{ if $isHere }} is-active{{ end }}
      {{ if .HasChildren }} dropdown {{ end }}">
      <a href="{{ .URL }}" {{ if eq .Post "external" }} target="_blank"  {{ end }}
      class="
        text-light
        nav-link 
        navbar-item
        {{ if $isHere }} is-active{{ end }} 
        {{ if .HasChildren }} dropdown-toggle {{ end }}" 
        {{if .HasChildren }}
          id="navbarDropdown" 
          role="button" 
          data-toggle="dropdown" 
          aria-haspopup="true" 
          aria-expanded="false"
        {{ end }}>
        {{ .Name }}
      </a>

      {{ if .HasChildren }}
        <div class="dropdown-menu bg-dark" aria-labelledby="navbarDropdown">
          {{ range .Children }}
            <a class="dropdown-item bg-dark text-white" 
            href="{{ .URL }}" 
            {{ if eq .Post "external" }} target="_blank" {{ end }}>
              {{ .Name }}
            </a>
          {{ end }}
        </div>
      {{ end }}
    </li>
  {{ end }}
{{ end }}
</ul>
