<form id="search"
    action="/search" method="get" class="d-flex align-items-center justify-content-center pl-2">
    <div class="search-input-view hide-content">
        <label hidden for="search-input">Search site</label>
        <input type="text" id="search-input" class="form-control form-control-sm" name="query"
        placeholder="Search site">
    </div> 

    <div class="pt-2">
        <input type="image" src="/img/home/Search.svg" alt="submit" value="search" id="nav-search">
    </div>
</form>
