{{ $defaultVersions := site.Params.docs.versions }}
{{ $allSections  := site.Sections }} <!-- "blog" and "docs" -->
{{ $docsSections := where $allSections "Section" "docs" }}

<p class="version-switcher">
    Version: <select id="version-switcher">
        {{ range $version := $defaultVersions }}
            <option value="{{ index $version 1 }}">{{ index $version 0 }}</option>
        {{ end }}
    </select>
</p>

<form id="search"
    action="/search" method="get" class="align-items-center justify-content-center">
    <div class="search-input-view">
        <label hidden for="search-input">Search site</label>
        <img src="/img/home/Search_dark.svg" class="search-icon"/>
        <input type="text" id="search-input" class="form-control form-control-sm" name="query" placeholder="Search site"/>
    </div>
</form>

<nav class="docs-nav" id="docs-nav">
  <ul>
    {{ range $docsSections }}
      {{ partial "section-nav-walk.html" . }}
    {{ end }}
  </ul>
</nav>