<a class="top-banner" href="https://events.linuxfoundation.org/o3decon/" target="_blank">
  <div class="top-notification">
    <div class="banner-logo"></div>
    <div class="banner-title">
	<span class="mobile-only">O3DCON: October 18 – 19, 2022 <br> Workshop Day: October 17</span>
	<span class="desktop-only">October 18 – 19, 2022 / Workshop Day: October 17</span>
	</div>
    <div class="banner-subtitle">Austin, Texas
    </div>
    <div class="banner-call-to-action">REGISTER</div>
  </div>
</a> 