{{ $isPreRelease := or (in site.BaseURL "development") (in site.BaseURL "stabilization") }}
{{ $pathname := .RelPermalink }}

{{ if $isPreRelease }}
<p class="build-info-text">
    <b>This documentation is for a prerelease version of O3DE. <a href="https://www.o3de.org{{ $pathname }}">Click here to switch to the latest release</a>, or select a version from the dropdown.</b>
</p>
{{ else }}
<p class="build-info-text">
    <b>This page is not the current release of O3DE documentation. <a href="https://www.o3de.org{{ $pathname }}">Click here to switch to the latest release</a>, or select a version from the dropdown.</b>
</p>
{{ end }}
