{{ define "main" }}
<main id="main">
    <div class="container">
        <section class="row">
            <section class="col col-8">
                <h1 id="title">Oops! Nobody's here... (404)</h1>
                <div class="content">
                    <para>Looks like you've found an empty page!</para>
                    <br/><br/>
                    <para>Head back to the <a href="{{ (site.GetPage "section" "docs").RelPermalink }}">Documentation</a>.</para>
                    <h2>Come here from a docs link?</h2>
                    <br/>
                    <para>
                        If you've reached this page from a docs link, we'd appreciate it if you would <a href="https://github.com/o3de/o3de.org/issues/new/choose">file a GitHub Issue</a>.
                    </para>
                    <br/><br/>
                </div>
            </section>
        </section>
    </div>
</main>
{{ partial "footer.html" . }}
{{ end }}