{{ define "main" }}
<main id="main">
    <div class="container">
        <section class="row">
            <section class="col col-8">
                <h1 id="title">Oops! Nobody here (404)</h1>
                <div class="content">
                    <para>Looks like you've found an empty page!</para>
                    <br/><br/>
                    <para>Right now, the best place for you to go is back to the <a href="{{ (site.GetPage "section" "docs").RelPermalink }}">Documentation</a>.</para>
                    <h2>Come here from a docs link?</h2>
                    <br/>
                    <para>
                        While we're in the process of setting up the O3DE site, many of the old Lumberyard 1.x materials ported over have links to content that we retired.
                        If you've reached this page from one of these links, we'd appreciate it if you would <a href="https://github.com/o3de/o3de.org/issues">file a GitHub Issue</a>
                        for us. If an issue doesn't exist for the page you were looking for, when you file a ticket, make sure that you include the following information:
                    </para>
                    <br/><br/>
                    <ul>
                        <li>The URL of the page you were trying to reach</li>
                        <li>The URL of the page that you reached the 404 from</li>
                        <li>A brief description of the content you expected to find at your destination</li>
                        <li>Tag the ticket with <code>Deadlink</code> so that we know it's for missing content!</li>
                    </ul>
                </div>
            </section>
        </section>
    </div>
</main>
{{ end }}