{{ $mermaidVersion := site.Params.mermaid_version }}
{{ $posts := where site.RegularPages "Section" "blog" }}
<div class="container">
  <div class="columns">
    <div class="col col-12">
      <div class="">
        {{ .Content }}
      </div>

      {{ if .Page.Store.Get "hasMermaid" }}
        <script src="https://cdn.jsdelivr.net/npm/mermaid@{{ index $mermaidVersion 0 }}/dist/mermaid.min.js" integrity="{{ index $mermaidVersion 1 }}" crossorigin="anonymous"></script>
        <script>
            mermaid.initialize({ startOnLoad: true });
        </script>
      {{ end }}
      
      <a class="btn btn-primary back-to-blog" href="/blog">
        <span>
          Back to blogs
        </span>
      </a>
    </div>
  </div>
</div>
