{{ $posts := where site.RegularPages "Section" "blog" }}
<div class="container">
  <div class="row">
    {{ range (.Paginate $posts).Pages }}
    {{ $date := dateFormat "January 2, 2006" .Date }}
    <div class="col col-lg-6 col-md-12 col-12 mt-4">
      <div class="card">
          <div class="card-body">
            <a href="{{ .RelPermalink }}">
            <h2>
              {{ .Title }}
            </h2>
            <p>
              {{ $date }}
            </p>
            </a>
            {{ .Summary }}...
          </div>
        </div>
    </div>
    {{ end }}
  </div>
  <div class="row">
    <div class="mx-auto pt-5">
      {{ template "_internal/pagination.html" . }}  
   </div>
  </div>
</div>
