{{ $title := site.Title }}
{{ $desc  := site.Params.description | markdownify }}
<div class="row contribute-section">
  <div class="col-12 col-lg-4">
    <div class="github-box">
      <h3><i class="fab fa-github"></i>Contribute to Code</h3>
      <p>O3DE is developed based on the strength of its expert community. We'd love to have you contribute, too! Read our guidance on contributing to O3DE.</p>
      <a href="https://github.com/o3de/o3de/tree/main" class="learn-more">View on GitHub</a>
    </div>
  </div>
  <div class="col-12 col-lg-8">
    <p>Open 3D Engine is a diverse and inclusive community that emphasizes collaboration, respect, and transparency.  We want everyone who contributes to feel welcome and treated with the professionalism they expect.</p>
    <p>We hope that everyone who contributes their time, energy, and knowledge to O3DE has a great experience.</p>
  </div>
</div>