{{ $title := site.Title }}
{{ $desc  := site.Params.description | markdownify }}
<div class="contribute-sigs">
    <a href="https://github.com/o3de/sig-build" class="card sig-card">
      SIG-Build
    </a>
    <a href="https://github.com/o3de/sig-content" class="card sig-card">
      SIG-Content
    </a>
    <a href="https://github.com/o3de/sig-core" class="card sig-card">
      SIG-Core
    </a>
    <a href="https://github.com/o3de/sig-docs-community" class="card sig-card">
      SIG-Docs-Community
    </a>
    <a href="https://github.com/o3de/sig-network" class="card sig-card">
      SIG-Network
    </a>
    <a href="https://github.com/o3de/sig-operations" class="card sig-card">
      SIG-Operations
    </a>
    <a href="https://github.com/o3de/sig-platform" class="card sig-card">
      SIG-Platform
    </a>
    <a href="https://github.com/o3de/sig-presentation" class="card sig-card">
      SIG-Graphics-Audio
    </a>
    <a href="https://github.com/o3de/sig-release" class="card sig-card">
      SIG-Release
    </a>
    <a href="https://github.com/o3de/sig-security" class="card sig-card">
      SIG-Security
    </a>
    <a href="https://github.com/o3de/sig-simulation" class="card sig-card">
      SIG-Simulation
    </a>
    <a href="https://github.com/o3de/sig-testing" class="card sig-card">
      SIG-Testing
    </a>
    <a href="https://github.com/o3de/sig-ui-ux" class="card sig-card">
      SIG-UI-UX
    </a>
</div>
