{{ $title := site.Title }}
{{ $desc  := site.Params.description | markdownify }}
<div class="contribute-sigs">
    <a href="#" class="card sig-card">
      SIG-Build
    </a>
    <a href="#" class="card sig-card">
      SIG-Content
    </a>
    <a href="#" class="card sig-card">
      SIG-Core
    </a>
    <a href="#" class="card sig-card">
      SIG-Docs
    </a>
    <a href="#" class="card sig-card">
      SIG-Network
    </a>
    <a href="#" class="card sig-card">
      SIG-Platform
    </a>
    <a href="#" class="card sig-card">
      SIG-Presentation
    </a>
    <a href="#" class="card sig-card">
      SIG-Release
    </a>
    <a href="#" class="card sig-card">
      SIG-Security
    </a>
    <a href="#" class="card sig-card">
      SIG-Testing
    </a>
    <a href="#" class="card sig-card">
      SIG-UI-UX
    </a>
</div>
