{{ $title := site.Title }}
{{ $desc  := site.Params.description | markdownify }}
<div class="d-flex align-items-center">
  <div class="container text-center pb-2">
    <div class="row">
      <div class="col-2 col-md-2">
        <div class="card">
          SIG-Build
        </div>
      </div>
      <div class="col-2 col-md-2">
        <div class="card">
          SIG-Content
        </div>
      </div>
      <div class="col-2 col-md-2">
        <div class="card">
          SIG-Core
        </div>
      </div>
      <div class="col-2 col-md-2">
        <div class="card">
          SIG-Docs
        </div>
      </div>
      <div class="col-2 col-md-2">
        <div class="card">
          SIG-Network
        </div>
      </div>
      <div class="col-2 col-md-2">
        <div class="card">
          SIG-Platform
        </div>
      </div>
      <div class="col-2 col-md-2">
        <div class="card">
          SIG-Presentation
        </div>
      </div>
      <div class="col-2 col-md-2">
        <div class="card">
          SIG-Release
        </div>
      </div>
      <div class="col-2 col-md-2">
        <div class="card">
          SIG-Security
        </div>
      </div>
      <div class="col-2 col-md-2">
        <div class="card">
          SIG-Testing
        </div>
      </div>
      <div class="col-2 col-md-2">
        <div class="card">
          SIG-UI-UX
        </div>
      </div>
    </div>
  </div>
</div>