<section class="home-collaboration pt-5 pb-5">
  <div class="container d-flex flex-column align-items-center justify-content-center">
    <h2 class="mb-3">The Power of Community Collaboration</h2>
    <p></p>
    <div class="container align-items-center justify-content-center mb-3">
      <div class="row pb-2 justify-content-center">
        <a class="lightbox-trigger col col-md-8 col-12" href="#" target="_blank" data-lightbox="deadhaus-sonata-video">
          <div class="collaboration-box" style="background-image: url('https://dhs-o.s3.us-east-2.amazonaws.com/images/image002.png');">
            <div class="collaboration-overlay">
              <div class="collaboration-content">
                <h4>Deadhaus Sonata</h4>
                <p>Apocalypse Studio</p>
                <div class="cta">Watch</div>
              </div>
            </div>
          </div>
        </a>
        <div id="deadhaus-sonata-video" class="lightbox-content">
          <div class="lightbox-content-center">
            <iframe src="https://player.vimeo.com/video/647124091?h=d6b3a9c0aa" frameborder="0" allow="autoplay; fullscreen; picture-in-picture"></iframe>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>