<section class="container-fluid home-features p-5">
  <div class="container">
  <div class="row feature">
    <div class="col col-12 col-xl-5 mx-auto">
      <img src="/img/home/feature1.jpg" alt="3D characters rendered in O3DE"/>
    </div>
    <div class="col col-12 col-xl-7 pl-xl-5">
      <h2>Create the highest quality games</h2>
      <p>O3DE’s visuals technology allows you to create near-photorealistic and high dynamic range environments and stunning real-time effects. 
        Powerful rendering technology and authoring tools include physically-based shaders, dynamic global illumination, 
        a particle effects system, vegetation tools, real-time dynamic water caustics, volumetric fog, 
        and filmic features such as color grading, motion blur, depth of field, and lens flares.</p>
    </div>
  </div>
  <div class="row feature">
    <div class="col col-12 col-xl-7 pr-xl-5">
      <h2>Component entities</h2>
      <p>O3DE’s component entity system offers a modern approach to composing complex entities from simpler entities. 
        You can drag and drop components to build desired behavior, edit component settings in the editor, 
        and create scripts in Script Canvas or Lua to quickly change or extend an entity’s behavior. 
        To help you build and iterate on more complex scenes, you can group entities into slices. 
        You can then use those slices to create more complex slices, resulting in a fully cascading prefab system. 
        If you change a slice, you can choose to share your changes with all slice instances or restrict your changes to that one instance.</p>
    </div>
    <div class="col col-12 col-xl-5 mx-auto">
      <img src="/img/home/feature2.jpg" alt="O3DE interface"/>
    </div>
  </div>
    <div class="row feature">
      <div class="col col-12 col-xl-5 mx-auto">
        <img src="/img/home/feature3.jpg" alt="Twitch"/>
      </div>
      <div class="col col-12 col-xl-7 pl-xl-5">
        <h2>Reach and engage fans on Twitch</h2>
        <p>The Twitch ChatPlay feature in O3DE helps you build gameplay that interacts in real time with Twitch viewers. 
          For example, you can build a game where spectators vote on game outcomes, 
          gift power-ups to their favorite players, or change the level based on the number of viewers watching the broadcaster. 
          Using O3DE's scripting tools, you can easily create chat channel commands for your game. 
          For example, you can build a multiplayer game where viewers vote to drop grenades to the broadcaster by typing #boom in the Twitch chat channel.</p>
      </div>
  </div>
</div>
</section>