<section class="container home-getstarted card-stack pb-1">
  <div class="row">
      <div class="col mx-auto mb-3 pt-5">
          <h2>Get started with O3DE</h2>
          <p>Watch our introductory tutorial on O3DE below, or dive right into O3DE's <a href="/docs/" target="_blank">documentation</a>.</p>
      </div>
  </div>
  <div class="row pb-5">
    <div class="col col-12">
      <a class="card mb-3" href="https://www.youtube.com/watch?v=CQmjAxr7LZs" target="_blank">
        <div class="row">
          <div class="col-md-4 card-image" style="background-image: url('/img/home/what-is-o3de-video-thumbnail.jpg')"></div>
          <div class="col col-md-8">
            <div class="card-body">
              <h5 class="card-title mt-0">What is O3DE?</h5>
              <p class="card-text">It's "Open", it's "3D", and it's an "Engine". Okay; got it. But what's it do, who's it for, and how do I get started with it?
                Let AWS' Alex Damarjian guide you through the details of this new open-source project for games and simulation developers.</p>
              <div class="learn-more mb-3">Watch it now!</div>
            </div>
          </div>
        </div>
      </a>
    </div>
    <div class="col col-12">
      <a class="card mb-3" href="https://github.com/o3de/o3de.org/issues">
        <div class="row">
          <div class="col-md-4 card-image" style="background-image: url('/img/home/GettingStarted2.jpg')"></div>
          <div class="col col-md-8">
            <div class="card-body">
              <h5 class="card-title mt-0">Coming Soon...</h5>
              <p class="card-text">
                We are currently working hard to give you a better experience and provide
                more tutorials. If you want to check in on the creation process, you are
                welcome to take a peek on GitHub.
              </p>
            </div>
          </div>
        </div>
      </a>
    </div>
  </div>
</section>
