<section class="container-fluid home-getstarted p-5">
  <div class="container">
    <div class="row">
      <div class="col col-12">
        <h2>Get started with O3DE</h2>
        <p class="subhead">Watch these video tutorials to get started with O3DE!</p>
      </div>
    </div>
    <div class="row home-videos">
      <div class="col col-12 col-xl-4 mb-5">
        <div class="card">
          <img src="https://dummyimage.com/360x164/fff/aaa" class="card-img-top">
          <div class="card-body">
            <h5 class="card-title">Video tutorial 1</h5>
            <p class="card-text">Text TBD</p>
            <a href="#" class="btn btn-primary">Watch</a>
          </div>
        </div>
      </div>
      <div class="col col-12 col-xl-4 mb-5">
        <div class="card">
          <img src="https://dummyimage.com/360x164/fff/aaa" class="card-img-top">
          <div class="card-body">
            <h5 class="card-title">Video tutorial 2</h5>
            <p class="card-text">Text TBD</p>
            <a href="#" class="btn btn-primary">Watch</a>
          </div>
        </div>
      </div>
      <div class="col col-12 col-xl-4 mb-5">
        <div class="card">
          <img src="https://dummyimage.com/360x164/fff/aaa" class="card-img-top">
          <div class="card-body">
            <h5 class="card-title">Video tutorial 3</h5>
            <p class="card-text">Text TBD</p>
            <a href="#" class="btn btn-primary">Watch</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>