<section class="container-fluid home-getstarted">
  <div class="d-flex flex-column">
    <h1>Get started with O3DE</h1>
    <h4>Watch our introductory tutorial on O3DE below, or dive right into O3DE's <a href="https://o3de.org/docs/" target="_blank">documentation</a>.</h4>
    <div class="row border getting-started-view">
      <div class="col col-4">
        <a href="https://www.youtube.com/watch?v=CQmjAxr7LZs" target="_blank"><img src="/img/home/what-is-o3de-video-thumbnail.jpg" class="getStarted-img"></a>
      </div>
      <div class="col col-8">
        <h3>What is O3DE?</h3>
        <div class="getstarted-text-width">
          It's "Open", it's "3D", and it's an "Engine". Okay; got it. But what's it do, who's it for, and how do I get started with it?
          Let AWS' Alex Damarjian guide you through the details of this new open-source project for games and simulation developers.
        </div>
        <a href="https://www.youtube.com/watch?v=CQmjAxr7LZs" target="_blank">Watch it now!</a>
      </div>
    </div>
    <div class="row border getting-started-view">
      <div class="col col-4">
        <img src="/img/home/GettingStarted2.jpg" class="getStarted-img">
      </div>
      <div class="col col-8">
        <h3>Coming Soon...</h3>
        <div class="getstarted-text-width">
          We are currently working hard to give you a better experience and provide
          more tutorials. If you want to check in on the creation process, you are
          welcome to take a peek on <a href="https://github.com/o3de/o3de.org/issues" target="_blank">GitHub</a>.
        </div>
      </div>
    </div>
  </div>
</section>