{{ $title := site.Title }}
{{ $desc  := site.Params.description | markdownify }}
{{ $source := site.Params.sourceRepo }}
<div class="scalable home-hero d-flex align-items-center">
  <div class="container-fluid hero-inner">
    <div class="row">
      <div class="col col-12 col-xl-5 pl-5">
          <h1 class="title">
            {{ $title }}
          </h1>

          {{ with $desc }}
          <p class="desc">
            {{ . }}
          </p>
          {{ end }}

          <p class="buttons">
            <a href={{ $source }} class="my-3 mr-3 btn btn-lg text-white download-cta">Clone on GitHub</a>
            <a href="/docs" class="my-3 mr-3 btn btn-lg text-white learnmore-cta">Learn more</a>
          </p>
        </div>
      </div>
    </div>
</div>