{{ $title := site.Title }}
{{ $desc  := site.Params.description | markdownify }}
<div class="scalable home-hero d-flex flex-column align-items-center justify-content-around">
  <div class="container hero-inner">
    <div class="row">
      <div class="col col-12 col-md-7 pb-4 pt-4">
          <h1 class="title">
            {{ $title }}
          </h1>
          <h4 class="title mt-0">
            An open-source, real-time 3D development engine
          </h4>

          {{ with $desc }}
          <p class="desc mt-5">
            {{ . }}
          </p>
          {{ end }}

          <p class="buttons">
            <a href="/download" class="mt-4 btn btn-lg text-white download-cta">Download O3DE</a>
          </p>
        </div>
      </div>
    </div>
    <p class="home-hero-copyright">COPYRIGHT &copy APOCALYPSE STUDIOS INC. USED BY O3DE WITH PERMISSION</p>
</div>