{{ $title := site.Title }}
{{ $desc  := site.Params.description | markdownify }}
{{ $source := site.Params.sourceRepo }}
<div class="scalable home-hero d-flex align-items-center">
  <div class="container-fluid hero-inner">
    <div class="row">
      <div class="col col-12 col-xl-7 pl-7">
          <h1 class="title">
            {{ $title }}
          </h1>
          <h3 class="title">
            An open-source, real-time 3D development engine
          </h3>

          {{ with $desc }}
          <p class="desc">
            {{ . }}
          </p>
          {{ end }}

          <p class="buttons">
            <a href="/download" class="my-3 mr-3 btn btn-lg text-white download-cta">Get Started</a>
          </p>
        </div>
      </div>
    </div>
</div>