<section class="home-partners pt-5 pb-5">
  <div class="container d-flex flex-column align-items-center justify-content-center">
    <h2 class="mb-3">Our Community</h2>
    <p>O3DE is built by the community in conjunction with dedicated members, including the following organizations.</p>
    <div class="row align-items-center justify-content-center partners-logos-view">
      <img src="/img/logos/partnerLogos/adobe.svg" class="adobe-logo">
      <img src="/img/logos/partnerLogos/aws.svg" class="aws-logo">
      <img src="/img/logos/partnerLogos/huawei.svg" class="huawei-logo">
      <img src="/img/logos/partnerLogos/intel.svg" class="intel-logo">
      <img src="/img/logos/partnerLogos/niantic.svg" class="niantic-logo">
    </div>
  </div>
</section>