{{ $href := .Get "href" }}
{{ $hreftarget := .Get "hreftarget"}}
{{ $text := .Get "text" }}
{{ $backgroundcolor := .Get "backgroundcolor" }}
{{ $textcolor := .Get "textcolor" }}

{{ with $href }}
<p><a href="{{ $href }}" class="my-3 mr-3 btn btn-lg" 
    style="{{ with $backgroundcolor }}backgroun-color: {{ $backgroundcolor }}; {{ end }}
        {{ with $textcolor }} color: {{ $textcolor }}; {{ end }}
    "
target="_blank">
    {{ with $text }}
        {{ $text }}
    {{ end }}
</a></p>
{{ end }}