{{/* This shortcode creates a preview box for migrated documentation that has not been updated. */}}

<blockquote class="important callout card border-danger">
    <div class="row no-gutters">
      <div class="col-md-2 bg-danger text-white p-2"><strong>Preview: </strong></div> 
      <div class="col p-2">  {{ "This topic has been migrated from Lumberyard and is provided as a preview. The information contained on this page might not reflect the current or final state of UX, UI, or functionality. The feature(s) described on this page might not be included in the initial Open 3D Engine offering. To report issues and errors, or to make documentation requests, please open a [GitHub issue here](https://github.com/o3de/o3de.org/issues)." | markdownify }}</div>
    </div>
</blockquote>