{{/* This shortcode creates a todo callout. ___  */}}

<blockquote class="warning callout card border-info">
    <div class="row no-gutters">
      <div class="col-md-2 bg-info text-white p-2"><strong>To do: </strong></div> 
      <div class="col p-2">  <p>{{ trim .Inner " \n" | markdownify }}</p>
        <!-- Find GitHub issue <a href="{{.Get "issue"}}">here</a>. -->
            {{ if .Get "issue" }}
                A GitHub issue has been created for this task <a href="{{.Get "issue"}}">here</a>.
            {{else}}
                A GitHub issue has not been created for this task. Create an issue <a href="https://github.com/o3de/o3de.org/issues/new/choose">here</a>.
            {{end}}
      </div>

      
      
    </div>
  </blockquote>
  
{{/*  
    Example:

    {{< todo issue="https://github.com/o3de/o3de.org/issues/432" >}}
    The details of this task are ___. A link to the issue is provided.
    {{< /todo >}}
    
    
    {{< todo >}}
    The details of this task are ___. There is no link to the issue.
    {{< /todo >}}    
*/}}
